<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/do_an_10_diem"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToeicApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.ListTestActivity"
            android:exported="true" />
        <activity
            android:name=".testing.van.activities.VanTestRecyclerActivity"
            android:exported="true" />
        <activity
            android:name=".activities.LearnVocabularyResultActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LearnVocabularyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activities.StatisticActivity"
            android:exported="true" />
        <activity
            android:name=".activities.VocabularyDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ListVocabularyActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ToeicTestListQuestionsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PartTwoActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PartOnePhotographsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PartFourActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PartFiveActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PartSixActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PartSevenActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ListGroupQuestionsActivity"
            android:exported="true" />
        <activity
            android:name=".testing.ngoc.activities.NgocTestBlurShadowActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ResultActivity"
            android:exported="true" />
        <activity
            android:name=".testing.van.activities.VanTestDownloadService"
            android:exported="true" />
        <activity
            android:name=".testing.van.activities.VanTestRoomDatabaseActivity"
            android:exported="true" />
        <activity
            android:name=".testing.van.activities.VanTestPartOne"
            android:exported="true" />
        <activity
            android:name=".testing.van.activities.VanTestAudioPlayerActivity"
            android:exported="true" />
        <activity
            android:name=".testing.van.activities.VanTestHomePageListVocabularyActivity"
            android:exported="true" />
        <activity
            android:name=".testing.huong.activities.HuongTestActivity"
            android:exported="true" />
        <activity
            android:name=".testing.huong.activities.PartThreeActivity"
            android:exported="true" />
        <activity
            android:name=".testing.van.activities.VanTestActivity"
            android:exported="true" />
        <activity
            android:name=".testing.duy.activities.DuyTestAddNewWordActivity"
            android:exported="true" />
        <activity
            android:name=".activities.TestActivity"
            android:exported="true" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>